[submodule "lemon-dice"]
	path = lemon-dice
	url = git@github.com:dreamtimedapp/lemon-dice.git
    ignore = dirty
[submodule "fireland-vue"]
	path = fireland-vue
	url = git@github.com:dreamtimedapp/fireland-vue.git
	ignore = dirty
