[submodule "fireland-vue"]
	path = fireland-vue
	url = git@github.com:dreamtimedapp/fireland-vue.git
	branch = master
	
[submodule "refactoring-home-vue"]
	path = refactoring-home-vue
	url = git@github.com:dreamtimedapp/refactoring-vue.git
	branch = master
